


<div class="container-fluid mt-5 ">
    
    {% load static %}
    <audio id="claim-sound" src="{% static 'Audio/coin-sound.mp3' %}" preload="auto"></audio>
            <form action="" method="post" id="claimAll" class="">
                {% csrf_token %}
                <div class="row">
                    <div class="col-4">
            {% if objects and not isactive and not myEarnings %}
                
            
            <button type="submit" class="btn btn-success btn-lg"">Claim All</button>
   
            {% endif %}
            
            </div>
            </div>
            </form>
            

           
<div class="table-responsive"><!--row-->
    <table class="table" id="myTable">
       <thead>
           <tr>

            {% if not isactive and not myEarnings  %}

            <th>SNO</th>
               <th>Application Id</th>
               <th>Disbursment Amount</th>
               <th>Comission Amount</th>
               <th>Loan Amount</th>
               <th>Date</th>

               <th>Claim</th>

               {% elif myEarnings %}

                    <th>SNO</th>
                   <th>Application Id</th>
                   <th>Amount Received</th>
                   <th>RefCode</th>
                    <th>Date</th>  

            {% else  %}
                
              <th>SNO</th>
               <th>Application Id</th>
               <th>Name</th>
               <th>Disbursment Amount</th>
               <th>Comission Amount</th>
               <th>Loan Type</th>
               <th>Loan Amount</th>
               <th>Date</th>

               {% endif %}
              
           </tr>
       </thead>
       <tbody>
           {% for ress in objects %}
               <tr>
                   <!-- Display serial number -->
                    {% if claimpage %}
                        
                    <td>{{ forloop.counter0|add:start_index }}</td>
                   <td>{{ ress.application_id }}</td>
                   <td>{{ ress.disbursedAmount }}</td>
                   <td>{{ress.branch_payout_slab_in_Rs}}</td>
                   <td>{{ress.loan_amount}}</td>
                   <td>{{ress.date}}</td>

                {% elif myEarnings %}

                  <td>{{ forloop.counter0|add:start_index }}</td>
                  <td>{{ ress.application_id }}</td>
                  <td>{{ ress.franch_Amount_in_Rs }}</td>
                  <td>{{ress.refCode}}</td>
                  <td>{{ress.Settlement_Date}}</td>


                   {% else  %}

                   <td>{{ forloop.counter0|add:start_index }}</td>
                   <td>{{ ress.application_id }}</td>
                   <td>{{ ress.name }}</td>
                   <td>{{ ress.disbursedAmount }}</td>
                   <td>{{ress.comissionAmount}}</td>
                   <td>{{ress.loan_type}}</td>
                   <td>{{ress.loan_amount}}</td>
                   <td>{{ress.date}}</td>
                       
                    {% endif %}
                   

                   {% if not isactive and not myEarnings  %}
                   <td>
                    <p href="?id={{ress.application_id}}" class="btn btn-success claimbtn">Claim</p>
                   </td>
                   {% endif %}
                   
               </tr>
               {% empty %}
               <tr>
                   <td colspan="2">No records found</td>
               </tr>
           {% endfor %}
       </tbody>
   </table>
   </div>


   <!-- <script>


    var audio = document.getElementById("claim-sound");

    document.querySelectorAll('.claimBtn').forEach((e)=>{

        e.addEventListener('click',()=>{

            audio.play();
            
        });
    
    });
     </script> -->


      
   <!-- Pagination links -->
   <div class="pagination row">
    <button type="button" class="btn btn-danger col-3 col-md-2 ms-3" id="showbtn">Show All</button>
    <div class="col-12 d-flex justify-content-center">
    <span class="step-links d-flex">
        {% if objects.has_previous %}
        <p href="?page=1" class="page-link fw-bold bg-success text-white text-capitalize me-2 number"> first</p>
        <p href="?page={{ objects.previous_page_number }}"  class="page-link number">previous</p>
        {% endif %}


        
        {% if objects.number >= objects.paginator.num_pages|add:'-2' and objects.paginator.num_pages|add:'-2' != 1 and objects.paginator.num_pages >= 3 %}
        <span class="nav-link fw-bold">...</span>
        {% endif %}

        

       

        {% for num in objects.paginator.page_range %}

        {% if objects.number == objects.paginator.num_pages and num >=  objects.number|add:'-2' %}
            
        <p href="?page={{ num }}" class="nav-link number {{num}} ms-1">{{ num }}</p>

       {% elif num >= objects.number and num <= objects.number|add:'2' and objects.number|add:'2' <= objects.paginator.num_pages   %}
       <p href="?page={{ num }}" class="nav-link number {{num}} ms-1" >{{ num }}</p>
            {% if num ==  objects.number|add:'2' and num != objects.paginator.num_pages %}
            <span class="nav-link fw-bold">...</span>
                
            {% endif %}
       {% elif objects.number|add:'2' > objects.paginator.num_pages and num >= objects.number|add:'-1' and num <= objects.paginator.num_pages %}
       <p href="?page={{ num }}" class="nav-link number {{num}} ms-1">{{ num }}</p>

       {% endif %}
{% endfor %}





        <!-- <p>{{objects.paginator.num_pages}}</p> -->

       

        {% if objects.has_next %}
        <p href="?page={{ objects.next_page_number }}"  class="page-link number">next</p>
        <p href="?page={{ objects.paginator.num_pages }}"  class="page-link number bg-danger text-white fw-bold text-capitalize ms-2">last</p>
    {% endif %} 
    </span>
</div>
</div>

   </div>

   <script class="tableScripts">

    console.log("Url search..")
               var currentPage={{objects.number}};
          
               document.querySelectorAll('.number').forEach((page)=>{
               
                 
                var pages= page.classList[2];
                if(pages==currentPage){
                 // console.log(pages+"Current PAge........");
                  getFref=page.getAttribute('href');
                  console.log(getFref);
                  // console.log(`http://127.0.0.1:8001/dsa/approved${getFref}`);
                 
                  console.log("fetched");
                 page.classList.add('page-active');
                }else{
                 page.classList.remove('page-active')
                }
              });
       </script>